body {
    margin: 0;
    background: #D6BCFF;
    font-family: 'DM Sans';
    font-style: normal;
}

.top-heading {
    margin-top: 132px;
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: 0.625em;
    color: #6F3CFF;

}

.top-heading p {
    margin-top: 0;
    margin-bottom: 0;
}

#middle-box {
    width: 818px;
    display: flex;
    justify-content: space-a;
    background: #FFFFFF;
    box-shadow: -1px 6px 55px rgba(0, 0, 0, 0.16);
    border-radius: 21px;
    height: 428px;
    margin: 64px auto;
}

.left-box {
    margin-left: 44px;
    margin-top: 44px;
}

#first-input {font-size: 21px;
    color: #9C60FF;
    text-align: right;
    padding-right: 10px;
    background: rgba(182, 172, 196, 0.53);
    border-radius: 3px;
    border: none;
    width: 337px;
    height: 43px;
    text-size-adjust: 5px;
    letter-spacing: 0.01em;
}

.rupee {
    position: relative;
    right: 330px;
}

.left-box p {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.045em;
    color: #9C60FF;
}

.left-box-third-p {
    margin-top: 47px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding-left: 0;
}

#tip1,
#tip2,
#tip3,
#tip4,
#tip5,
#tip6 {
    padding: 0;
    text-align: center;
    background: #9C60FF;
    border-radius: 4px;
    width: 106px;
    height: 44px;
    font-family: 'Monospaceland';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #E9DBFF;
    border-style: none;

}

.left-box-third {
    display: flex;
}

.left-box-third-div1 {
    background: #b6acc487;
    border-radius: 3px;
    width: 220px;
    height: 44.5px;
}

.left-box-third-div2 {
    display: flex;
    width: 117px;
    background: #FFFFFF;
}



.right-box {
    width: 367px;
    height: 370px;
    margin: 28px 26px 0 0;
    background: #9C60FF;
    border-radius: 11px;
}

.right-box-1 {
    display: flex;
    justify-content: space-around;
    font-family: 'Inconsolata';
    font-style: normal;
}

.right-box-2 {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    font-family: 'Inconsolata';
    font-style: normal;
}

#price-tag1,
#price-tag2 {

    font-weight: 600;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: 0.01em;
    color: #C39FFF;
}

#price-tag1 {
    margin: 36px 0 0 0;
}

#price-tag2 {
    margin: 23px 0 0 0;
}

.tip-col1,
.tip-col2 {
    color: #F3E4FF;
}

.tip-col1 {
    margin: 46px 0 0 0
}

.tip-col2 {
    margin: 25px 0 0 0;
}

.right-box-person {
    margin-top: 5px;
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.045em;
    color: #C39FFF;
}

.reset-btn {
    width: 295px;
    height: 43px;
    border: none;
    background-color: #C39FFF;
    border-radius: 5px;
    margin: 123px 31px 0 41px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #9C60FF;
    letter-spacing: 0.19em;
}

.color_back {
    background-color: black;
}

.left-box-third-div2 {
    height: 43px;
    background: #FFFFFF;
    border: 1px solid #8E8E8E;
    border-radius: 3px;
}

.left-box-third-div2 p {
    width: 50px;
    margin-top: 13px;
    text-align: center;
    padding-bottom: 15px;
    box-sizing: border-box;
    font-family: 'Monospaceland';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;

}

.plus {
    border: none;
    
    width: 33px;
    font-family: 'Monospaceland';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #000000;

}

.minus {
    border: none;
    width: 34px;
    font-family: 'Monospaceland';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #000000;
}